@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  font-family: 'Lexend', sans-serif;
}

p {
  @apply font-[300] leading-7;
}

.container {
  @apply w-screen max-w-[500px] tablet:max-w-[1160px] px-6 mx-auto;
}

/* miscilanious */

.hero-gradient {
  background: radial-gradient(
    63.26% 106.22% at 0% 100%,
    #ad81ff 0%,
    #6d24f3 100%
  );
}

.transition {
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
}

/* hover effects */
.hvr {
  @apply ease-in-out duration-100 cursor-pointer;
}

/* buttons */

.btn-dark {
  @apply hvr bg-dark text-white rounded-lg px-[26px] py-[15px];
}

.btn-outline {
  @apply hvr bg-white border border-dark text-dark  rounded-lg px-[26px] py-[15px];
}
