@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  font-family: 'Lexend', sans-serif;
}

p {
  @apply font-[300] leading-7;
}

.heading {
  @apply leading-10 text-xlMobile tablet:text-xl;
}

.container {
  @apply w-screen max-w-[500px] tablet:max-w-[1300px] px-6 mx-auto tablet:px-[10%];
}

.nav-container {
  @apply w-screen max-w-[500px] tablet:max-w-[1300px] px-6 mx-auto;
}

.grid-container {
  @apply w-screen max-w-[500px] tablet:max-w-[900px] px-6 mx-auto tablet:px-[10%] laptop:px-0;
}

.contact-container {
  @apply w-screen max-w-[500px] tablet:max-w-[800px] px-6 mx-auto;
}

/* miscilanious */

.hero-gradient {
  background: radial-gradient(
    63.26% 106.22% at 0% 100%,
    #ad81ff 0%,
    #6d24f3 100%
  );
}

.transition {
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
}

.mason-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: masonry;
  align-tracks: start;
  justify-tracks: start;
}

.box-shadow {
  box-shadow: rgba(8, 8, 18, 0.75) 0px -100px 100px -0px inset;
}

.label-styles {
  @apply font-light text-sm;
}

.input-styles {
  @apply w-full bg-white border-b border-dark outline-none py-3 focus:border-b-primary ease-in duration-150 font-light placeholder:text-[#a8a6c2] placeholder:font-light placeholder:text-sm;
}

/* hover effects */
.hvr {
  @apply ease-in-out duration-100 cursor-pointer;
}

/* buttons */

.btn-dark {
  @apply hvr bg-dark text-white rounded-lg px-[26px] py-[15px] hover:bg-[#000000] hover:text-white;
}

.btn-outline {
  @apply hvr bg-white border border-dark text-dark  rounded-lg px-[26px] py-[15px] hover:bg-primary hover:border-primary hover:text-white;
}
